<%= erb :'layouts/_header' %>

<h1>Edit <%=@pigeon.name%></h1>

<form action="/pigeons/<%= @pigeon.id%>" method="POST">
<input type="hidden" name="_method" value="PATCH" />
  <label for="name">Edit Name:</label>
  <input type="text" name="name" value="<%= @pigeon.name %>" />

  <label for="color">Edit Color:</label>
  <input type="text" name="color" value="<%= @pigeon.color %>" />

  <label for="gender">Edit Gender:</label>
  <input type="text" name="gender" value="<%= @pigeon.gender %>" />

   <label for="lives">Edit Home:</label>
  <input type="text" name="lives" value="<%= @pigeon.lives %>" />

   <input type="submit" value="update">
</form>

<a class="button" href="/pigeons">Cancel</a>

<%= erb :'layouts/_footer' %>