<%= erb :'layouts/_header' %>

  <h1>Pigeons</h1>

  <!-- show a table that lists all pigeons here -->

  <table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Lives</th>
    <th>Gender</th>
  </tr>
  <% @pigeons.each do |pigeon| %>
  <tr>
    <td><%= pigeon.name %></td>
    <td><%= pigeon.color %></td>
    <td><%= pigeon.lives %></td>
    <td><%= pigeon.gender %></td>
  </tr>
  <% end %>
</table>


  <a class="button" href="/pigeons/new">New Pigeon</a>

<%= erb :'layouts/_footer' %>
