<%= erb :'layouts/_header' %>

  <img src="http://<%= @pigeon.color.delete("[],\"").split.first %>pigeon.jpg.to/" width="300">

<h1><%= @pigeon.name %></h1>

<ul>
  <li>Name: <%=@pigeon.name%></li>
  <li>Color: <%=@pigeon.color%></li>
  <li>Gender: <%=@pigeon.gender%></li>
  <li>Lives: <%=@pigeon.lives%></li>
</ul>

<li><a href="/pigeons/<%= @pigeon.id %>/edit">Edit</a></li>

<li>
  <form action="/pigeons/<%= @pigeon.id%>" method="POST">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Destroy" />
</li>

<%= erb :'layouts/_footer' %>
